{% extends "base.html" %}
{% block mainsection %}
{% load static %}
{% static "images" as baseUrl %}

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Shop</h1>
							</div>
						</div>
						<div class="col-lg-7">
							
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		

		<div class="untree_co-section product-section before-footer-section">
		    <div class="container">
		      	<div class="row">
					
					<!-- making the furniture list dyanmic -->
					{% for furniture in furni%}
					<!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="{% url 'cart'%}">
							<!-- for static images -->
							<!-- <img src="{{ baseUrl }}/{{ furniture.img }}" class="img-fluid product-thumbnail"> -->
							 <!-- for dynamic images from database -->
							<img src="{{ furniture.img.url }}" class="img-fluid product-thumbnail">
							<!-- <img src="{% static 'images/product-1.png'%}" class="img-fluid product-thumbnail"> -->
							<h3 class="product-title">{{furniture.name}}</h3>
							<strong class="product-price">${{furniture.price}}</strong>

							<span class="icon-cross"> 
								<img src="{% static 'images/cross.svg'%}" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 2 -->

					{%endfor%}
		      	
		      	</div>
		    </div>
		</div>


		{% endblock mainsection %}